/* Simple CSS Reset */

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
  list-style: none;
}

/* basic */

:root {
  --dark: #2D313F;
  --white: #fff;
  --green: #2DBC83;
}

a {
  text-decoration: none;
  color: var(--white);
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px; 
  margin: 0 auto; 
  padding: 0 20px;
  box-sizing: border-box;
}

.btn {
  display: block;
  text-transform: uppercase;
  border-radius: 32px;
  background: linear-gradient(225deg, #55C595 5.53%, #359D9E 94.47%);
  font-family: 'SF Bold';
  padding: 20px 0;
  max-width: 300px;
  display: flex;
  justify-content: center;
  transition: background 0.7s, box-shadow 0.7s;
}

.btn:hover {
  background: linear-gradient(225deg, #359D9E 5.53%, #55C595 94.47%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.arrows {
	width: 60px;
	height: 72px;
  position: relative;
}

.arrows path {
	stroke: var(--white);
	fill: transparent;
	stroke-width: 2px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

/* fonts */

@font-face {
  font-family: 'SF Semi Bold';
  src: url('../fonts/SFProText-Semibold.woff2') format('woff2'),
      url('../fonts/SFProText-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Regular';
  src: url('../fonts/SFProText-Regular.woff2') format('woff2'),
      url('../fonts/SFProText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'SF Medium';
  src: url('../fonts/SFProText-Medium.woff2') format('woff2'),
      url('../fonts/SFProText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-Light.woff2') format('woff2'),
      url('../fonts/SFProText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-HeavyItalic.woff2') format('woff2'),
      url('../fonts/SFProText-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Heavy';
  src: url('../fonts/SFProText-Heavy.woff2') format('woff2'),
      url('../fonts/SFProText-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Bold';
  src: url('../fonts/SFProText-Bold.woff2') format('woff2'),
      url('../fonts/SFProText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* animations */

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

/* header */

.header {
  padding: 20px 0;
  background-color: var(--dark);
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: inline-block;
}

.header-logo object {
  pointer-events: none;
  position: relative; 
}

.header-menu {
  display: flex;
}

.header-item:not(:last-child){
  margin-right: 50px;
}

.header-item-link {
  font-family: 'SF Semi Bold';
  font-size: 24px;
  transition: color 0.7s;
}

.header-item-link-active, .header-item-link:hover {
  color: var(--green);
}

/* hero */

.hero {
  padding-top: 60px;
  position: relative;
  background-color: var(--dark);
}

.hero::after, .hero::before {
  content: '';
  position: absolute;
  opacity: .5;
  z-index: -1;
  width: 722px;
  height: 722px;
  border-radius: 722px;
  filter: blur(275px); 
}

.hero::after {
  top: 200px;
  left: 0;
  background-color: #55C595;
  animation: pulse 4s infinite ease-in-out;
}

.hero::before {
  top: 0;
  left: 400px;
  background-color: #359D9E;
  animation: pulse 6.5s infinite ease-in-out;
}

.hero-wrap {
  display: flex;
  justify-content: space-around;
}

.hero-image {
  margin-right: 30px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  color: var(--white);
  font-family: 'SF Heavy';
  font-size: 74px;
  line-height: 130%;
  letter-spacing: 2px;
}

.hero-description {
  margin-top: 30px;
  font-family: 'SF Medium';
  font-size: 28px;
  color: var(--white);
  max-width: 600px;
}

.hero-btn {
  margin-top: 60px;
}

.hero-down {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header-item:not(:last-child){
    margin-right: 20px;
  }

  .header-item-link {
    font-size: 18px;
  }

  .hero-wrap {
    flex-wrap: wrap;
    text-align: center;
  }
  .hero-image {
    max-width: 200px;
    margin-right: 0;
  }

  .hero::after, .hero::before {
    width: 322px;
    height: 322px;
    border-radius: 322px;
    filter: blur(275px); 
  }  

  .hero::after {
    top: 0;
  }
  
  .hero::before {
    top: 200px;
    right: 0;
  }

  .hero-title {
    margin-top: 20px;
    font-size: 44px;
  }

  .hero-description {
    font-size: 20px;
  }

  .hero-btn {
    margin: 0 auto;
    margin-top: 60px;
    width: 200px;
  }

  .hero-down {
    margin-top: 30px;
  }
}